/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
 }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

th {
  margin-bottom: 15px;
}

th.pointer {
  cursor: pointer;
}
      
th:hover {
  background-color: #ccc;
}

body {background-color:  #2d5986;
}

#login{
  background-color: #fff2e6;

}

canvas{
  background-color:  #fff2e6;
}

table{
  background-color:  #fff2e6;
}

.card{
  background-color: #fff2e6;
}